*{
    box-sizing: border-box;
    
}
body{
    margin: 30px;
}

.nav{
    background-color: white;
    color: #000;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4E2C466;
    
}

.nav ul {
    padding: 0px;
    margin: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
  }

.site-name{
   
  margin: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
 }

.site-title{
 
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 27px;
 color: #494949;
 flex: none;
 order: 0;
 flex-grow: 0;

} 

.site-button{
 
    padding:15px;
    margin: 10px;
    width: 110px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 50px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #494949;
}

.home-style{
    border-bottom: 3px solid #8BD78B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #494949;
    flex: none;
    order: 0;
    flex-grow: 0;
}

  
  