.auth-form-container{  
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: #676767;
    background-image: url("https://i.ibb.co/YT6fGw1/Starbucks-Coffee-removebg-preview.png") ;
    background-size: 10%;
    background-repeat: repeat;
}
  
.login-form,.register-form{
    height: 80%;
    width: 70%;
    padding-top: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D0D0D0;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9FEE9;
}
.register-form{
    margin-top: 78px;
}
  
.form {
    &-label {
      text-align: left;
      padding: 0.25rem 0;
    }
  
    &-input {
      margin: 9px;
      padding: 2%;
      border: 1px solid #C4C4C4;
      border-radius: 10px;
      width: 90%;
    } 
}
    
.log-btn {
    width: 200px;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #676767;
    margin-bottom: 20px;
    padding: 10px;
}
    
  .forget-pass {
    margin: 5%;
} 

.form-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -125px;
 
    &-btns {
        width: 70%;
        }
}

.form-btn-active, .form-btn-disabled {
    width: 50%;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.form-btn-active {
    background-color: #E9FEE9;
    border: 1px solid #D0D0D0;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
    
}