.auth-form-container{  
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: #676767;
    background-image: url("https://i.ibb.co/YT6fGw1/Starbucks-Coffee-removebg-preview.png") ;
    background-size: 20%;
    background-repeat: repeat;
}
  
.login-form, .register-form{
    height: 80%;
    width: 70%;
    padding-top: 3%;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9FEE9;
}
  
.form {
    &-label {
      text-align: left;
      padding: 0.25rem 0;
    }
  
    &-input {
      margin: 2%;
      padding: 2%;
      border: none;
      border-radius: 10px;
      width: 90%;
    } 
}
    
.log-btn {
    width: 200px;
    background-color: $primary-color;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #676767;
    margin-bottom: 20px;
    padding: 10px;
}
    
.link-btn {
    background: white;
    color: black;
    text-decoration: underline;
}
  
.forget-pass {
    margin: 5%;
} 

.form-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: -100px;

    &-btns {
        width: 70%;
    }
}

.form-btn-active, .form-btn-disabled {
    width: 50%;
}

.form-btn-active {
    background-color: $primary-color;
}