.product-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw ;
    background: linear-gradient(90deg, white 50%, $primary-color 50%);
    overflow: hidden;
}

.product-desc {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 10;
    padding-top: -30px;
}

.sizes {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-cups {
        margin-top: 50px;
        display: flex;
        gap: 20px;

        &-star {
            display: flex;
            flex-direction: column;
            align-items: center;
            & button {
                background-color: rgb(183, 183, 183);
                padding: 8px;
                border-radius: 30px;
                margin-top: 10px;
            }
            & p {
                margin-top: 5px;
            }
            &-selected {
                color: $primary-color;
            }
        }

        &-sm { 
            & img {
                width: 70px;
                height: 70px;
            }
        }
        &-md {
            & img {
                width: 80px;
                height: 80px;
            }
        }
        &-lg {
            & img {
                width: 90px;
                height: 90px;
            }
        }
    }

    &-button {
        margin-top: 100px;
        text-align: center;
        & button {
            background-color: $primary-color;
            border-radius: 15px;
            padding: 20px;
            margin: 10px;
        }
    }
}

.cup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.adds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}